.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color:  #0931db;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-Container{
  background-color:#11d1d1;
  padding:20px;
  max-width:60vw;
  margin: 5vw auto;
  min-height:60vw;
}

.formContainer{
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding:20px;
  margin: 10px 0px;
  background-color: #0931db;
  border-radius: 5px;
  color:white;
}



.searchInput {
  width: 100%;
  padding: 5px;
}